In [1]:
#Dependancies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sqlalchemy import create_engine

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

In [2]:
#Reading in the csv files

#Creates two variables containing the locations of each csv
csvpath1 = "csvFiles/healthInspections.csv"
csvpath2 = "csvFiles/healthViolations.csv"

#Translates the csv files into pandas dataframes
csvHealthInspections = pd.read_csv(csvpath1)
csvHealthViolations = pd.read_csv(csvpath2)

In [3]:
csvHealthInspections.head()

,serial_number,activity_date,facility_name,score,grade,service_code,service_description,employee_id,facility_address,facility_city,facility_id,facility_state,facility_zip,owner_id,owner_name,pe_description,program_element_pe,program_name,program_status,record_id
0,DAJ00E07B,2017-12-29T00:00:00,HABITAT COFFEE SHOP,95,A,1,ROUTINE INSPECTION,EE0000923,3708 N EAGLE ROCK BLVD,LOS ANGELES,FA0170465,CA,90065,OW0178123,GLASSELL COFFEE SHOP LLC,RESTAURANT (0-30) SEATS MODERATE RISK,1631,HABITAT COFFEE SHOP,ACTIVE,PR0160774
1,DAQOKRFZB,2017-12-29T00:00:00,REILLY'S,92,A,1,ROUTINE INSPECTION,EE0000633,100 WORLD WAY # 120,LOS ANGELES,FA0244690,CA,90045,OW0208441,"AREAS SKYVIEW LAX JV, LLC",RESTAURANT (0-30) SEATS MODERATE RISK,1631,REILLY'S,ACTIVE,PR0193026
2,DASJI4LUR,2017-12-29T00:00:00,STREET CHURROS,93,A,1,ROUTINE INSPECTION,EE0000835,6801 HOLLYWOOD BLVD # 253,LOS ANGELES,FA0224109,CA,90028,OW0228670,"STREETCHURROS, INC",RESTAURANT (0-30) SEATS LOW RISK,1630,STREET CHURROS,ACTIVE,PR0179282
3,DAWVA0CY3,2017-12-29T00:00:00,RIO GENTLEMANS CLUB,93,A,1,ROUTINE INSPECTION,EE0000958,13124 S FIGUEROA ST,LOS ANGELES,FA0046462,CA,90064,OW0011830,FIGUEROA GROUP INC,RESTAURANT (61-150) SEATS LOW RISK,1636,RIO GENTLEMANS CLUB,ACTIVE,PR0044776
4,DAKFCHD0L,2017-12-29T00:00:00,LE PAIN QUOTIDIEN,93,A,1,ROUTINE INSPECTION,EE0000629,13050 SAN VICENTE BLVD STE 114,LOS ANGELES,FA0034788,CA,90049,OW0028928,PQ SAN VICENTE INC.,RESTAURANT (61-150) SEATS HIGH RISK,1638,LE PAIN QUOTIDIEN,ACTIVE,PR0017456

In [4]:
csvHealthViolations.head()

,serial_number,activity_date,violation_code,violation_description,violation_status,points,grade,facility_id,employee_id,owner_id,score,service_code,service_description,row_id
0,DA08R0TCU,2018-03-30T00:00:00,F030,# 30. Food properly stored; food storage conta...,OUT OF COMPLIANCE,1,A,FA0064949,EE0000857,OW0001034,92,1,ROUTINE INSPECTION,DA08R0TCUF030
1,DA08R0TCU,2018-03-30T00:00:00,F027,# 27. Food separated and protected,OUT OF COMPLIANCE,1,A,FA0064949,EE0000857,OW0001034,92,1,ROUTINE INSPECTION,DA08R0TCUF027
2,DA08R0TCU,2018-03-30T00:00:00,F035,# 35. Equipment/Utensils - approved; installed...,OUT OF COMPLIANCE,1,A,FA0064949,EE0000857,OW0001034,92,1,ROUTINE INSPECTION,DA08R0TCUF035
3,DA08R0TCU,2018-03-30T00:00:00,F033,# 33. Nonfood-contact surfaces clean and in go...,OUT OF COMPLIANCE,1,A,FA0064949,EE0000857,OW0001034,92,1,ROUTINE INSPECTION,DA08R0TCUF033
4,DA08R0TCU,2018-03-30T00:00:00,F029,"# 29. Toxic substances properly identified, st...",OUT OF COMPLIANCE,1,A,FA0064949,EE0000857,OW0001034,92,1,ROUTINE INSPECTION,DA08R0TCUF029

In [7]:
#Reading in the json files
json_file = "jsonFiles/healthInspections.json"
jsonHealthInspections = pd.read_json(json_file, lines = True)
jsonHealthInspections.head()

#Creates two variables containing the locations of each csv
#jsonpath1 = "jsonFiles/healthInspections.json"
#jsonpath2 = "jsonFiles/healthViolations.json"

#Translates the csv files into pandas dataframes
#jsonHealthInspections = pd.read_json(jsonpath1)
#jsonHealthViolations = pd.read_json(jsonpath2)

,attribution,attributionLink,averageRating,category,columns,createdAt,description,displayType,downloadCount,flags,...,rowIdentifierColumnId,rowsUpdatedAt,rowsUpdatedBy,tableAuthor,tableId,tags,totalTimesRated,viewCount,viewLastModified,viewType
0,County of Los Angeles Public Health,https://data.lacounty.gov/Health/LOS-ANGELES-C...,0,A Safe City,"[{'dataTypeName': 'text', 'position': 1, 'fiel...",1523312076,This dataset contains Environmental Health Ins...,table,344,"[default, restorable, restorePossibleForType]",...,353613155,1525280289,nnac-z9x3,"{'type': 'interactive', 'screenName': 'Adam Sc...",15031310,"[inspection, restaurant, market, grocery, health]",0,246,1523318022,tabular