In [1]:
#Dependancies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sqlalchemy import create_engine

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()
import requests
import time
import json

In [2]:
#Reading in the files

#Creates two variables containing the locations of each csv
csvpath = "csvFiles/healthViolations.csv"
csvHealthViolations = pd.read_csv(csvpath)
csvHealthViolations.head()

,serial_number,activity_date,facility_name,violation_code,violation_description,violation_status,points,grade,facility_address,facility_city,...,owner_name,pe_description,program_element_pe,program_name,program_status,record_id,score,service_code,service_description,row_id
0,DA08R0TCU,2018-03-30T00:00:00,KRUANG TEDD,F030,# 30. Food properly stored; food storage conta...,OUT OF COMPLIANCE,1,A,5151 HOLLYWOOD BLVD,LOS ANGELES,...,5151 HOLLYWOOD LLC,RESTAURANT (31-60) SEATS HIGH RISK,1635,KRUANG TEDD,ACTIVE,PR0031205,92,1,ROUTINE INSPECTION,DA08R0TCUF030
1,DA08R0TCU,2018-03-30T00:00:00,KRUANG TEDD,F027,# 27. Food separated and protected,OUT OF COMPLIANCE,1,A,5151 HOLLYWOOD BLVD,LOS ANGELES,...,5151 HOLLYWOOD LLC,RESTAURANT (31-60) SEATS HIGH RISK,1635,KRUANG TEDD,ACTIVE,PR0031205,92,1,ROUTINE INSPECTION,DA08R0TCUF027
2,DA08R0TCU,2018-03-30T00:00:00,KRUANG TEDD,F035,# 35. Equipment/Utensils - approved; installed...,OUT OF COMPLIANCE,1,A,5151 HOLLYWOOD BLVD,LOS ANGELES,...,5151 HOLLYWOOD LLC,RESTAURANT (31-60) SEATS HIGH RISK,1635,KRUANG TEDD,ACTIVE,PR0031205,92,1,ROUTINE INSPECTION,DA08R0TCUF035
3,DA08R0TCU,2018-03-30T00:00:00,KRUANG TEDD,F033,# 33. Nonfood-contact surfaces clean and in go...,OUT OF COMPLIANCE,1,A,5151 HOLLYWOOD BLVD,LOS ANGELES,...,5151 HOLLYWOOD LLC,RESTAURANT (31-60) SEATS HIGH RISK,1635,KRUANG TEDD,ACTIVE,PR0031205,92,1,ROUTINE INSPECTION,DA08R0TCUF033
4,DA08R0TCU,2018-03-30T00:00:00,KRUANG TEDD,F029,"# 29. Toxic substances properly identified, st...",OUT OF COMPLIANCE,1,A,5151 HOLLYWOOD BLVD,LOS ANGELES,...,5151 HOLLYWOOD LLC,RESTAURANT (31-60) SEATS HIGH RISK,1635,KRUANG TEDD,ACTIVE,PR0031205,92,1,ROUTINE INSPECTION,DA08R0TCUF029

In [ ]:
#csvHealthViolations.dtypes

In [3]:
csvHealthViolations_cols = ["facility_name", "serial_number", "score", "violation_description"]
healthViolations_transformed= csvHealthViolations[csvHealthViolations_cols].copy()

#healthViolations_transformed = healthViolations_transformed.rename(columns={"facility_name": "Facility_Name",
#                                                                           "facility_id": "ID",
#                                                                           "score": "Score",
#                                                                           "violation_description": "Violation_Description"})
healthViolations_transformed.drop_duplicates("serial_number", inplace=True)
#healthViolations_transformed.set_index("serial_number", inplace=True)

healthViolations_transformed.head()

,facility_name,serial_number,score,violation_description
0,KRUANG TEDD,DA08R0TCU,92,# 30. Food properly stored; food storage conta...
7,SPROUTS FARMERS MARKET#403,DA0GBKW3F,97,"# 44. Floors, walls and ceilings: properly bui..."
10,LOS ANGELES NEW YORK PIZZA,DA0HEAJNR,92,"# 44. Floors, walls and ceilings: properly bui..."
15,THE BAGEL FACTORY,DA0RZDWLN,93,"# 29. Toxic substances properly identified, st..."
22,CREPE EXPRESS,DA0Z5W4J0,92,# 14. Food contact surfaces: clean and sanitized

In [4]:
#csvHealthViolations_groupby = healthViolations_transformed.groupby(["facility_id", "facility_name", "score", "violation_description"])

#csvHealthViolations_groupby.all()
healthViolations_transformed.dtypes

facility_name            object
serial_number            object
score                     int64
violation_description    object
dtype: object

In [5]:
#csvHealthViolations_groupby.to_csv('Health_Violations.csv')

In [6]:
#read in json
data = json.load(open('jsonFiles/Inspections.json'))

inspections_df = pd.DataFrame(data["data"])
inspections_df.head()

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,412181,332032D9-E7BD-4F8D-8C92-58CF5057A994,412181,1541201351,969808,1541201351,969808,None,2016-06-22T00:00:00,OW0185247,...,954 E ALOSTA AVE,AZUSA,CA,91702,001,ROUTINE INSPECTION,93,A,DAC6YRJ7D,EE0000742
1,428600,C78CB01A-453A-4E26-A21A-3FF79F6FBA83,428600,1541201357,969808,1541201357,969808,None,2016-09-07T00:00:00,OW0235635,...,7275 MELROSE AVE,LOS ANGELES,CA,90046,001,ROUTINE INSPECTION,90,A,DAKU06F5Y,EE0000951
2,429129,BF888E62-D91E-42AF-BB5B-1B9EBBEEC00B,429129,1541201357,969808,1541201357,969808,None,2016-09-09T00:00:00,OW0018013,...,28788 THE OLD RD,VALENCIA,CA,91355,001,ROUTINE INSPECTION,98,A,DAFS03QYK,EE0000735
3,392634,23EAC538-221D-450C-A2DA-E941E12D840F,392634,1541201336,969808,1541201336,969808,None,2016-04-01T00:00:00,OW0001761,...,16550 SOLEDAD CANYON RD,CANYON COUNTRY,CA,91387-3215,001,ROUTINE INSPECTION,99,A,DAJ8A0PDB,EE0000735
4,392635,945EE22C-428A-416B-8805-CF798AF24CED,392635,1541201336,969808,1541201336,969808,None,2016-04-01T00:00:00,OW0002023,...,2355 PECK RD,SOUTH EL MONTE,CA,91733,001,ROUTINE INSPECTION,92,A,DA6E75RM0,EE0000842

In [7]:
rename_inspections_df = inspections_df.rename(columns={26: "serial_number", 11: "facility_id", 23: "service_description"})

rename_inspections_df.head()

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,service_description,24,25,serial_number,27
0,412181,332032D9-E7BD-4F8D-8C92-58CF5057A994,412181,1541201351,969808,1541201351,969808,None,2016-06-22T00:00:00,OW0185247,...,954 E ALOSTA AVE,AZUSA,CA,91702,001,ROUTINE INSPECTION,93,A,DAC6YRJ7D,EE0000742
1,428600,C78CB01A-453A-4E26-A21A-3FF79F6FBA83,428600,1541201357,969808,1541201357,969808,None,2016-09-07T00:00:00,OW0235635,...,7275 MELROSE AVE,LOS ANGELES,CA,90046,001,ROUTINE INSPECTION,90,A,DAKU06F5Y,EE0000951
2,429129,BF888E62-D91E-42AF-BB5B-1B9EBBEEC00B,429129,1541201357,969808,1541201357,969808,None,2016-09-09T00:00:00,OW0018013,...,28788 THE OLD RD,VALENCIA,CA,91355,001,ROUTINE INSPECTION,98,A,DAFS03QYK,EE0000735
3,392634,23EAC538-221D-450C-A2DA-E941E12D840F,392634,1541201336,969808,1541201336,969808,None,2016-04-01T00:00:00,OW0001761,...,16550 SOLEDAD CANYON RD,CANYON COUNTRY,CA,91387-3215,001,ROUTINE INSPECTION,99,A,DAJ8A0PDB,EE0000735
4,392635,945EE22C-428A-416B-8805-CF798AF24CED,392635,1541201336,969808,1541201336,969808,None,2016-04-01T00:00:00,OW0002023,...,2355 PECK RD,SOUTH EL MONTE,CA,91733,001,ROUTINE INSPECTION,92,A,DA6E75RM0,EE0000842

In [8]:
new_rename_inspections_df = rename_inspections_df[["facility_id", "serial_number", "service_description"]].copy()

new_rename_inspections_df.drop_duplicates("serial_number", inplace=True)
#new_rename_inspections_df.reset_index(drop=true)

#new_rename_inspections_df = range(len(new_rename_inspections_df.index))

new_rename_inspections_df.head()

  facility_id serial_number service_description
0   FA0179753     DAC6YRJ7D  ROUTINE INSPECTION
1   FA0239319     DAKU06F5Y  ROUTINE INSPECTION
2   FA0071154     DAFS03QYK  ROUTINE INSPECTION
3   FA0144494     DAJ8A0PDB  ROUTINE INSPECTION
4   FA0005693     DA6E75RM0  ROUTINE INSPECTION

In [9]:
new_rename_inspections_df.dtypes

facility_id            object
serial_number          object
service_description    object
dtype: object

In [10]:
#new_rename_inspections_df_groupby = new_rename_inspections_df.groupby(["facility_id", "service_description"])

#new_rename_inspections_df_groupby.all()

In [11]:
rds_connection_string = "root:Mario#5@127.0.0.1/restaurant_db"
engine = create_engine(f'mysql://{rds_connection_string}')

In [12]:
engine.table_names()

C:\Users\JB52612\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)

['inspections', 'violations']

In [ ]:
healthViolations_transformed.to_sql(name='violations', con=engine, if_exists='replace', index=True)

In [ ]:
new_rename_inspections_df.to_sql(name='inspections',\
                          con=engine, if_exists='replace', index=True)